<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzmr.fgback.mapper.BasketMaterialMapper">

    <insert id="insertBatch">
        insert into basket_material(basket_id, material_name, material_amount) VALUES
        <foreach collection="bml" item="bm" separator=",">
            (
            #{bm.basketId},#{bm.materialName},#{bm.materialAmount}
            )
        </foreach>
    </insert>
</mapper>
