<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzmr.fgback.mapper.CategoryMapper">

    <insert id="insertBatch">
        insert into category(recipe_id, name) values
        <foreach collection="categoryList" item="category" separator=",">
            (#{category.recipeId},#{category.name})
        </foreach>
    </insert>

    <select id="getRecipeList" resultType="com.zzmr.fgback.vo.RecipeBasicVo">
        SELECT r.*,
               u.nick_name,
               (SELECT COUNT(*)
                FROM likes l
                WHERE l.content_type = 'recipe'
                  AND l.content_id = r.recipe_id)                                AS like_number,
               (SELECT COUNT(*) FROM favorite f WHERE f.recipe_id = r.recipe_id) AS favorite_number
        FROM recipe r
                 LEFT JOIN `user` u ON r.author_id = u.user_id
        WHERE r.recipe_id IN
              (SELECT DISTINCT c.recipe_id FROM category c WHERE c.`name` = #{name})
    </select>

    <select id="getAll" resultType="com.zzmr.fgback.bean.Category">
        select distinct name, img
        from category;
    </select>
</mapper>
