<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzmr.fgback.mapper.RecipeMapper">

    <!-- 查询RecipeVo，包括基本信息、用料、步骤、点赞数、收藏数 -->
    <resultMap id="RecipeVoResultMap" type="com.zzmr.fgback.vo.RecipeVo">
        <!-- 基本属性映射 -->
        <result property="recipeId" column="recipe_id"/>
        <result property="title" column="title"/>
        <result property="intro" column="intro"/>
        <result property="authorId" column="author_id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <!-- 点赞数和收藏数 -->
        <result property="likeNumber" column="like_number"/>
        <result property="favoriteNumber" column="favorite_number"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatarUrl" column="avatar_url"/>

        <!-- 用料列表映射 -->
        <collection property="materialsList" ofType="com.zzmr.fgback.bean.Materials">
            <id column="materials_id" property="materialsId"/>
            <result property="recipeId" column="recipe_id"/>
            <result property="name" column="name"/>
            <result property="amount" column="amount"/>
        </collection>

        <!-- 菜谱步骤列表映射 -->
        <collection property="recipeStepList" ofType="com.zzmr.fgback.bean.RecipeStep">
            <id column="recipe_step_id" property="recipeStepId"/>
            <result property="stepNumber" column="step_number"/>
            <result property="recipeId" column="recipe_id"/>
            <result property="img" column="img"/>
            <result property="content" column="content"/>
        </collection>

    </resultMap>
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="recipeId">
        insert into recipe(title, intro, author_id, image_url, views)
        values (#{title}, #{intro}, #{authorId}, #{imageUrl}, #{views})
    </insert>

    <!-- 查询RecipeVo，包括基本信息、用料、步骤、点赞数、收藏数 -->
    <select id="getRecipeVo" resultMap="RecipeVoResultMap">
        SELECT r.recipe_id,
               r.title,
               r.intro,
               r.author_id,
               r.image_url,
               r.create_time,
               r.update_time,
               r.views,
               (SELECT COUNT(*) FROM likes WHERE content_id = r.recipe_id AND content_type = 'recipe') AS like_number,
               (SELECT COUNT(*)
                FROM favorite
                WHERE recipe_id = r.recipe_id)                                                         AS favorite_number,
               m.materials_id,
               m.name,
               m.amount,
               rs.recipe_step_id,
               rs.step_number,
               rs.img,
               rs.content,
               u.nick_name,
               u.avatar_url
        FROM recipe r
                 LEFT JOIN materials m ON r.recipe_id = m.recipe_id
                 LEFT JOIN recipe_step rs ON r.recipe_id = rs.recipe_id
                 left join user u on r.author_id = u.user_id
        WHERE r.recipe_id = #{recipeId}
    </select>

    <!--  根据用料名称集合查询RecipeBasicVo  -->
    <select id="getByMaterials" resultType="com.zzmr.fgback.vo.RecipeBasicVo">
        SELECT
        r.recipe_id,
        r.author_id,
        r.create_time,
        r.image_url,
        r.intro,
        r.title,
        r.views,
        r.update_time,
        `user`.nick_name,
        (SELECT COUNT(*) FROM likes WHERE content_id = r.recipe_id AND content_type = 'recipe')
        AS like_number,
        (SELECT COUNT(*) FROM favorite WHERE recipe_id = r.recipe_id)
        AS favorite_number
        FROM
        recipe r
        LEFT JOIN `user` ON r.author_id = `user`.user_id
        WHERE recipe_id IN
        (SELECT DISTINCT m.recipe_id FROM materials m WHERE m.`name` IN
        <foreach collection="materialsNameList" item="materialsName" open="(" separator="," close=")">
            #{materialsName}
        </foreach>
        )
    </select>

    <!--  没问题，左连接了一个category,然后查询条件里加上了or  -->
    <select id="getRecipeList" resultType="com.zzmr.fgback.vo.RecipeBasicVo">
        select r.recipe_id,
        r.title,
        r.intro,
        r.author_id,
        r.image_url,
        r.create_time,
        r.update_time,
        r.views,
        u.nick_name,
        (SELECT COUNT(*) FROM likes WHERE content_id = r.recipe_id AND content_type = 'recipe')
        AS like_number,
        (SELECT COUNT(*) FROM favorite WHERE recipe_id = r.recipe_id)
        AS favorite_number
        from recipe r
        left join user u on r.author_id = u.user_id
        left join category c on r.recipe_id = c.recipe_id
        <where>
            <if test="title!=null and title!=''">
                r.title like CONCAT('%', #{title},'%') or c.name like CONCAT('%',#{title},'%')
            </if>
        </where>
    </select>

    <select id="getViews" resultType="com.zzmr.fgback.vo.RecipeViews">
        SELECT recipe_id, views
        FROM recipe
    </select>

</mapper>
